.petshop-list-container {
    height: 300px;
    position: absolute;
    top: 91px;
    z-index: 999;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.petshop-list {
    white-space: nowrap;
    padding: 15px;
    overflow-x: auto;
    width: 100%;
    margin-top: 15px;
}